html {
  height: 100%;
  font-family: 'yugioh-text';
  overflow: auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'yugioh-text';
  src: local('Yugioh'), url(./fonts/yugioh-text.ttf) format('yugioh-text');
}

@font-face {
  font-family: 'yugioh-title';
  src: local('Yugioh'), url(./fonts/yugioh-title.ttf) format('yugioh-title');
}

